.main
  %footer
    .container_12
      %article.grid_2
        .border.box-height
          %h4 Informative
          %ul.list-footer
            %li
              %a{:href => "#"} Headlines
            %li
              %a{:href => "#"} History
            %li
              %a{:href => "#"} Columns
            %li
              %a{:href => "#"} Interviews
            %li
              %a{:href => "#"} Almanac
            %li
              %a{:href => "#"} Schedule
            %li
              %a{:href => "#"} Mixed Martial Arts
      %article.grid_2
        .border.box-height
          %h4 Interactive
          %ul.list-footer
            %li
              %a{:href => "#"} Biofiles
            %li
              %a{:href => "#"} Odds
            %li
              %a{:href => "#"} Store
            %li
              %a{:href => "#"} Videos
            %li
              %a{:href => "#"} Book Reviews
            %li
              %a{:href => "#"} Links
            %li
              %a{:href => "#"} Training & Conditioning
      %article.grid_2
        .border.box-height
          %h4 Interact With Us
          %ul.list-footer
            %li
              %a{:href => "#"} Facebook
            %li
              %a{:href => "#"} Twitter
            %li
              %a{:href => "#"} Flickr
            %li
              %a{:href => "#"} RSS Feed
            %li
              %a{:href => "#"} Contact Us
      %article.grid_2
        .border.box-height
          %h4 Boxing In Depth
          %ul.list-footer
            %li
              %a{:href => "#"} Labore et dolore
            %li
              %a{:href => "#"} Magna aliqua
            %li
              %a{:href => "#"} Ut enim ad minim
            %li
              %a{:href => "#"} Veniam
            %li
              %a{:href => "#"} Quis nostrud
            %li
              %a{:href => "#"} Exercitation ullamco
      %article.grid_3.prefix_1
        %figure.d-block.alignright.p5
          %a{:href => "#"}
            %img{:alt => "", :src => "images/logo-footer.png "}/
        .policy.d-block.alignright
          Boxing © 2012 
          %a{:href => "#"} Privacy Policy
          .d-block.alignright
      .clear
